modules = ["nodejs-20", "python-3.12", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "rustc"]

[userenv]

[userenv.shared]
EXPO_PUBLIC_REPLIT_DOMAIN = "795bc112-facf-4a42-9192-41eebd54867d-00-3ezfb1lphzzsp.worf.replit.dev"
